.home {
  width: 100%;
  min-height: fit-content;
  height: 100%;
  margin-top: 5rem;
}
/* =======================Top Row================== */
.cards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.text-message {
  width: 180%;
  font-size: 2rem;
  font-weight: 700;
}
/* =======================Mid Row================== */
.middle-container {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  gap: 1rem;
}
.data-table {
  background-color: #ffffff;
  border: 2px solid #e9e9e7;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 60%;
  flex: 1;
}
.data-table .data-table-header {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
  align-items: center;
}
.charts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  flex: 1;
}
.pie-chart {
  background-color: #ffffff;
  border: 2px solid #e9e9e7;
  border-radius: 0.5rem;
  padding: 1rem;
  height: 25rem;
}

.bar-chart {
  background-color: #ffffff;
  border: 2px solid #e9e9e7;
  border-radius: 0.5rem;
  height: 24rem;
  padding: 1rem;
}
/* =======================Bottom Row================== */
.bottom-container {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  justify-content: space-around;
}
.bottom-charts {
  background-color: #ffffff;
  border: 2px solid #e9e9e7;
  border-radius: 0.5rem;
  height: 24rem;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
}
/* =============================Last Extra Row=================== */
.stacked-bar-chart-container {
  background-color: #ffffff;
  border: 2px solid #e9e9e7;
  border-radius: 0.5rem;
  /* display: flex; */
  padding: 1rem;
  /* justify-content: space-around; */

  height: 24rem;
}

/* =======================Media Query================== */

@media (width < 935px) {
  .cards-container {
    flex-direction: column;
    width: 85%;
    padding: 2rem;
  }
  .text-message {
    width: 95%;
  }
  .middle-container {
    flex-direction: column;
  }
  .data-table {
    width: 95%;
  }
  .bottom-container {
    flex-direction: column;
  }
  .bottom-charts {
    width: 95%;
  }
  .stacked-bar-chart-container {
    width: 95%;
  }
}
